.container {
  height: 100vh;
  background-color: rgba(88, 138, 138, 0.926);
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center;
  margin: 20px;
}

.card {
  width: 45%;
  background-color: rgba(255, 251, 246, 0.959);
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
  display: flex;
}
.card--end {
  align-items: end;
}
.card--center {
  align-items: center;
  justify-content: center;
}
.card--right {
  align-items: center;
  justify-content: flex-end;
}
.card--space-between {
  justify-content: space-between;
}
.card--space-evenly {
  justify-content: space-evenly;
  align-items: center;
}
.card--diferent-sizes {
  justify-content: center;
  align-items: center;
}
.box {
  background-color: rgb(159, 123, 144);
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 4px;
}

.box2 {
  flex-direction: row-reverse;
}
.box--right {
  align-self: flex-end;
}
.box--big {
  height: 80px;
}
.box--small {
  align-items: baseline;
  width: 50px;
  height: 40px;
}
.box--big1 {
  width: 80px;
}
.container-circle {
  height: 100vh;
  width: 90%;
  background-color: rgba(223, 221, 220, 0.926);
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  margin: 10px;
  align-content: center;
}
.card-circle {
  width: 273px;
  height: 220px;
  background-color: rgba(183, 239, 228, 0.959);
  border-radius: 4px;
  margin: 10px;
  display: flex;
 
}
.circle-start {
  align-content: start;
  flex-wrap: wrap;
}
.circle-end {
  align-content: end;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
}
.circle-between {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.circle-align {
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.circle-center {
 flex-wrap: wrap;
  justify-content:center;
  align-content: center;

 

}
.circle {
  background-color: rgb(159, 123, 144);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 10px;
}
.box-circle {
  align-items: flex-start;
}
